# Project exclude paths
/cloud-api-commons/target/
/cloud-consumer-order80/target/
/cloud-eureka-server7001/target/
/cloud-eureka-server7002/target/
/cloud-provider-payment8001/target/
/cloud-provider-paymnet8002/target/
.idea/
cloud-api-commons/cloud-api-commons.iml
cloud-api-commons/src/main/resources/
cloud-api-commons/src/test/
cloud-consumer-order80/cloud-consumer-order80.iml
cloud-consumer-order80/src/test/
cloud-consumerzk-order80/cloud-consumerzk-order80.iml
cloud-consumerzk-order80/src/test/
cloud-consumerzk-order80/target/
cloud-eureka-server7001/src/test/
cloud-eureka-server7002/cloud-eureka-server7002.iml
cloud-eureka-server7002/src/test/
cloud-provider-payment8001/cloud-provider-payment8001.iml
cloud-provider-payment8001/src/test/
cloud-provider-payment8004/cloud-provider-payment8004.iml
cloud-provider-payment8004/src/test/
cloud-provider-payment8004/target/
cloud-provider-paymnet8002/cloud-provider-paymnet8002.iml
cloud-provider-paymnet8002/src/test/
cloud2020.iml
