<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.springcloud.alibaba.dao.OrderMapper">
    <resultMap id="BaseResultMap" type="com.atguigu.springcloud.alibaba.domain.Order">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="product_id" jdbcType="BIGINT" property="productId"/>
        <result column="count" jdbcType="INTEGER" property="count"/>
        <result column="money" jdbcType="DECIMAL" property="money"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.atguigu.springcloud.alibaba.domain.Order"
            useGeneratedKeys="true">
        insert into t_order (user_id, product_id, `count`,
        money, `status`)
        values (#{userId,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, #{count,jdbcType=INTEGER},
        #{money,jdbcType=DECIMAL}, 0)
    </insert>
    <update id="updateByPrimaryKeySelective">
        update t_order
        <set>
            `status` = 1
        </set>
        where user_id = #{userId,jdbcType=BIGINT}
        AND `status` = #{status,jdbcType=INTEGER}
    </update>
</mapper>